<ion-view class="background">
    <div class="bar bar-header bar-positive">
      <h1 class="title">Unearth</h1>
    </div>
  <ion-content class="has-header" >
    <div class="list list-inset form-background rounded center"><br>
      <form novalidate class="simple-form">
        <label class="item item-input anothertest">
          <input type="text" placeholder="Email" ng-model="credentials.email">
        </label><br>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="credentials.password">
        </label>
      </form><br>
    </div>
    <div class="row">
      <button class="button button-small button-calm col col-33 col-offset-33 rounded submit-button" ng-click="login(credentials)">Log In</button>
    </div>
    <div></div>
    <div class="row">
      <button class="button button-small button-calm col col-33 col-offset-33 rounded submit-button" ng-click="redirectToSignUp();">Sign Up</button>
    </div>
   </ion-content>
   <div class="bar bar-footer bar-positive"></div>
 </ion-view>
