<ion-view class="content">
  <div class="background login-background"></div>
  <ion-content scroll="false">
    <div class="center-form">
      <img class="logo center" src="./img/Unearth_Logo.png"/>

      <form class="simple-form" name="loginForm" ng-submit="login(loginForm.$valid, credentials)" novalidate>

        <!-- Email Input -->
        <div class="item-input light-form light-input form-input" ng-class= "{'has-error' : loginForm.$invalid, 'no-error' : loginForm.$valid || !loginForm.$submitted }">
          <input name="emailAdress" type="email" placeholder="Email" ng-model="credentials.email" required ng-focus="clearError(loginForm)"></input>
        </div>

        <!-- Password Input -->
        <div class="item-input light-form light-input form-input" ng-class= "{'has-error' : loginForm.$invalid, 'no-error' : loginForm.$valid || !loginForm.$submitted }">
          <input type="password" placeholder="Password" ng-model="credentials.password" required ng-focus="clearError(loginForm)"></input>
        </div>

        <!-- Submit Button -->
        <div class="row"><button class="submit-button" type="submit">Login</button></div>

        <!-- Error Messages -->
        <div><span class="error-messages center" ng-show="loginForm.$error.required && loginForm.$submitted">Email and Password required.</span></div>
        <div><span class="error-messages center" ng-show="loginForm.$error.email && loginForm.$submitted">Please enter a valid email address.</span></div>
        <div><span class="error-messages center" ng-show="invalidLogin">Invalid username or password.</span></div>

        <!-- Redirect to sign up page -->
        <div class="sign-up-link center" ng-click="redirectToSignUp();"> I don't have an account </div>

      </form>
    </div>
  </ion-content>
</ion-view>
