<ion-view class="content">
  <div class="background"></div>
  <ion-content class="has-header" >
    <div class="list list-inset form rounded center-form "><br>
      <form novalidate class="simple-form">
        <div class="item item-input form form-input">
          <input type="text" placeholder="Email" ng-model="credentials.email">
        </div><br>
        <label class="item item-input form form-input">
          <input type="password" placeholder="Password" ng-model="credentials.password">
        </label>
      </form><br>
    </div>
    <div class="row">
      <button class="text" ng-click="login(credentials)">Login</button>
    </div>
    <div class="row">
      <div class="sign-up-link" ng-click="redirectToSignUp();">I don't have an account</div>
    </div>
  </ion-content>
 </ion-view>
