  <div class="modal transparent rounded" ng-controller="ModalController">
    <ion-header-bar class="transparent">
      <h1 class="header-modal center modal-wrapper">{{contact.title}}</h1>
    </ion-header-bar ng-controller="ModalController">
    <ion-content class="transparent">
    <form
        name="markerForm"
        ng-submit="markerForm.$valid && submitMarker()"
        novalidate
        class="simple-form">

      <div class="list"
      ng-class= "{'has-error' : markerForm.$invalid, 'no-error' : markerForm.$valid || !markerForm.$submitted }">
        <label class="item item-input">
          <span class="input-label title-modal shrink-left">Title:</span>
            <input type="text"
            ng-model="contact.title"
            required
            ng-focus="clearError(markerForm)">
        </label>
      </div>

        <label class="item item-input">
          <textarea placeholder="Enter Description Here..."
          class="text-box-modal"
          type="text"
          ng-model="contact.description">
          </textarea>
        </label>

      <div class="modal-break"></div>
        <div>
        <label class="item item-input">
          <span class="input-label title-modal shrink-left">Uploaded Image: {{imageuploaded.name}}</span> <span ng-hide="imageuploaded"> No image uploaded.</span>
          <div class="photo-submit">
          <input type="file"
          name="image"
          class="image ng-untouched ng-dirty ng-valid-parse ng-invalid-required"
          ng-model="file"
          valid-file accept="image/*">
          </input>
          </div>
        </label>
        </div>
      <div>
      <div>
        <span ng-show="markerForm.$error.required && markerForm.$submitted" class="error-messages">Your marker requires at least a title.. Spruce it up!</span>
      </div>
        <button class="center button button-energized"
        type="submit">Done</button>
      </div>
             <!-- Error Messages -->

      </form>
    </ion-content>
  </div>



