  <div class="modal" ng-controller="ModalController">
    <ion-header-bar>
      <h1 class="header-modal center">{{contact.title}}</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label title-modal shrink-left">Title:</span>
          <input type="text" ng-model="contact.title" autofocus required>
        </label>
        <div class="modal-break"></div>
        <label class="item item-input">
          <textarea placeholder="Enter Description Here..." class="text-box-modal" type="text" ng-model="contact.description">
          </textarea>
        </label>
      </div>
      <div>
        <button class="center button button-energized text-shadow" ng-click="closeModal()" required>Done</button>
      </div>
    </ion-content>
  </div>
