 <ion-view class="content">
  <div class="background signup-background"></div>
  <ion-content  scroll="false">
    <div class="center-form ">
      <img class="logo center" src="../img/Unearth_logo.png"/>
      <form novalidate name="signUpForm" class="simple-form" ng-submit="signUp(signUpForm.$valid, credentials)" >

        <!-- Username Input -->
        <div class="item item-input form-input form" ng-class= "{'has-error' : signUpForm.$invalid, 'no-error' : signUpForm.$valid || !signUpForm.$submitted }">
          <input required name="username" type="text" placeholder="Username" ng-model="credentials.username" ng-focus="clearError(signUpForm)"></input>
        </div>

        <!-- Email Input -->
        <div class="item item-input form-input form" ng-class= "{'has-error' : signUpForm.$invalid, 'no-error' : signUpForm.$valid || !signUpForm.$submitted }">
          <input required name="emailAdress" type="email" placeholder="Email" ng-model="credentials.email" ng-focus="clearError(signUpForm)"> </input>
        </div>

        <!-- Password Input -->
        <div class="item item-input form-input form" ng-class= "{'has-error' : signUpForm.$invalid, 'no-error' : signUpForm.$valid || !signUpForm.$submitted }">
          <input required type="password" placeholder="Password" ng-model="credentials.password" ng-focus="clearError(signUpForm)"></input>
        </div>

        <!-- Password2 Input -->
        <div class="item item-input form-input form" ng-class="{'has-error' : signUpForm.$invalid, 'no-error' : signUpForm.$valid || !signUpForm.$submitted }">
          <input required type="password" placeholder="Confirm Password" ng-model="credentials.password2" ng-focus="clearError(signUpForm)"> </input>
        </div>

        <!-- Submit Button -->
        <div class="row"><button class="submit-button" type="submit">Sign Up </button></div>

       <!-- Error Messages -->
        <div><span class="error-messages center" ng-show="signUpForm.$error.required && signUpForm.$submitted">Email and Password required.</span></div>
        <div><span class="error-messages center" ng-show="signUpForm.$error.email && signUpForm.$submitted">Please enter a valid email address.</span></div>
        <div><span class="error-messages center" ng-show="invalidLogin" >Invalid username or password.</span></div>

        <!-- Redirect to login page -->
        <div class="sign-up-link center" ng-click="redirectToLogin();">I already have an account</div>

      </form>
    </div>
  </ion-content>
</ion-view>
