node_modules/
bower_components/
config.js
npm-debug.log
platforms/
plugins/

__MACOSX
.DS_Store

.project
.settings
.classpath
.sass-cache/
plugins/
resources/

._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
