body {
  font-family: 'Quattrocento Sans', serif;
  background-color: black;
}

.content {
  -webkit-filter: brightness(.8);
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

#zoomControl {
  z-index: 2;
  position: relative;
}

#firstZoomButton {
  margin-top: 20px;
}

.zoomButton {
  margin-left: 25px;
  margin-top: 15px;
  height: 50px;
  width: 50px;
  font-size: 24pt;
  border-radius: 30px;
  text-align: center;
  padding: 0 0 0 0;
  border-top:  2px solid #ccc;
  border-bottom:  2px solid #777;
  border-left:  2px solid #ccc;
  border-right:  2px solid #777;
  background: #aaa;
  display: block;
}

.zoomButton:active {
  background: rgb(124, 200, 255);
}

.rounded {
  border-radius: 10px;
}

.transparent {
  background-color: #FFE6CC;
  opacity: 0.8;
}

input[type=file]{
    width:90px;
    color:transparent;
}

.login-background {
  background: url('../img/explore.jpg') center no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(2px);
}

.signup-background {
  background: url('../img/wood.jpg') center no-repeat;
}

.background {
  -webkit-xbackground-size: cover;
  background-size: cover;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.center {
  display: block;
  margin: 0 auto;
}

.ui-control {
  position:absolute;
  top:10px;
  right:10px;
  z-index:1000;
}

.photo-submit {
  position: absolute;
  display: inline-block;
}

.title-modal {
  height: 2em;
  text-shadow: #aaa 2px 2px 2px;
}

.header-modal {
  font-size: 20px;
  text-shadow: #aaa 2px 2px 2px;
}

.text-box-modal {
  height: 7em;
}

.shrink-left {
  width: .5em;
}

.modal-break {
  display: block;
  height: 2em;
}

.map-popup {
  text-align: center;
  heigh: 200px;
  width: 200px;
}

.popup-title {
  color: #fff;
}

.leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
}

.leaflet-popup-content-wrapper {
  color:rgba(255,255,255,0.5);
}

.leaflet-popup-tip-container {
  width:30px;
  height:15px;
}

.leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
}

@media (max-width: 680px) {
  .modal {
    top: 20%;
    left: 10%;
    min-height: 60%;
    width: 80%;
  }
}

.text-shadow {
  text-shadow: #aaa 2px 2px 2px;
}
